/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

Very Dark Magenta: hsl(300, 43%, 22%)
Soft Pink: hsl(333, 80%, 67%)

### Neutral

Dark Grayish Magenta: hsl(303, 10%, 53%)
Light Grayish Magenta: hsl(300, 24%, 96%)
White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Spartan](https://fonts.google.com/specimen/Spartan)
- Weights: 400, 500, 700
*/
body {
  font-size: 15px;
  font-family: 'Spartan', sans-serif;
  margin: 10%;
  line-height: 1.5;
  box-sizing: border-box;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 110px;
}

.left {
  width: 30%;
}

.right {
  width: 50%;
}

.right {
  display: flex;
  flex-direction: column;
}

h1 {
  color: hsl(300, 43%, 22%);
  font-weight: 700;
  font-size: 40px;
}

h2 {
  color: hsl(303, 10%, 53%);
  font-weight: 400;
}

.ratings {
  color: hsl(300, 43%, 22%);
  font-weight: 700;
  background-color: hsl(300, 24%, 96%);
  padding: 15px;
  margin: 10px 0;
  display: inline-block;
  border-radius: 10px;
  width: 50%;
}

.ratings.second {
  margin-left: auto;
  margin-right: auto;
}

.ratings.third {
  margin-left: auto;
  margin-right: 0%;
}

.stars {
  color: yellow;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}

.review {
  background-color: hsl(300, 43%, 22%);
  color: hsl(0, 0%, 100%);
  border-radius: 10px;
  width: 30%;
}

.review.first {
  margin-top: -40px;
  margin-bottom: 40px;
}

.review.second {
  margin-top: -20px;
  margin-bottom: 20px;
}

.profile {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.user {
  display: flex;
  flex-direction: column;
  margin: 25px 0 0 15px;
}

.review img {
  border-radius: 50%;
}

.name {
  font-weight: 700;
}

.verified {
  color: hsl(333, 80%, 67%);
}

.review > p {
  margin: 20px;
}
